* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0e0d0dd0;
}

header {
    background: #1e1e1e;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    background: #ff9800;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.movie-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.details-container {
    padding: 20px;
}

.add-review, .reviews {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

button {
    background: #1e88e5;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.review-card {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-content {
  background: black;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}
.modal-content{
    color: #ff9800;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border-color:gray;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}
.modal-actions button{
    background-color: #ff9800;
}


/* Mobile Responsive */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
}
